.container
  %ul
    - @profile.errors.full_messages.each do |message|
      %li= message

  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    %div
      = f.label :avatar, I18n.t('users.avatar')
    %div
      = f.file_field :avatar
    %div
      = f.label :nickname, I18n.t('users.handle_name')
    %div
      = f.text_field :nickname, class: 'text'
    %div
      = f.label :introduction, I18n.t('users.introduction')
    %div
      = f.text_area :introduction
    %div
      = f.label :gender, I18n.t('users.gender')
    %div
      = f.select :gender, Profile.genders.map { |k, v| [ I18n.t("enum.genders.#{k}"), k ] }, {}, {class: 'text'}
    %div
      = f.label :birthday, I18n.t('users.birthday')
    %div
      = f.date_field :birthday, class: 'text'
    %div
      = f.label :subscribed, I18n.t('users.subscribe')
      = f.check_box :subscribed

    = f.submit I18n.t('users.save'), class: 'btn-primary'
